/* 
IMPORTANTE: LO HE CONSEGUIDO CON DOS DIVS, SI LO CONSIGUES CON UNO MÁNDAME LA SOLUCIÓN A DISCORD
Colors:
  Background: #19191A
  Blue:#4F77FF
  Yellow:#F9E492
*/
.bg {
  width: 400px;
  height: 300px;
  background-color: #19191a;
}
