/* 
IMPORTANTE: LO HE CONSEGUIDO CON DOS DIVS, SI LO CONSIGUES CON UNO MÁNDAME LA SOLUCIÓN A DISCORD
Colors:
  Background: #6592CF
  House: #243D83
  Lights: #EEB850
*/
.bg {
  width: 400px;
  height: 300px;
  background: #6592cf;
}
